@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$colors: (
    primary: #005dff, //We will create a variable called mycolor
    accent: #fff6bb,
);

body,html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
    #bg {
        clip-path: polygon(100% 0, 100% 61%, 59% 100%, 0 100%, 0 0);
        background-color: map-get($colors , primary); //This wouldn't have worked in regular css
        width: 100%;
        height: 100%;
        position:absolute;
        z-index: -1;
    }

} 
